.testimonials-carousel {
  width: 100%;
  padding: 1rem;
  background: var(--wwg-light-biege);
  border-radius: 5%;
  box-shadow: 6px 4px 10px var(--wwg-green);
}

.testimonials-card {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  /* align-items: stretch; */
  padding: 2rem;
  gap: 1.5rem;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.testimonial-image {
  width: 12rem;
  height: 20rem;
  border-radius: 5%;
  object-fit: cover;
  border: 3px solid var(--bcca-primary-blue);
  margin: 0;
  transform: scale(1.3);
  align-self: center;
}

.grad-name {
  font-style: normal;
}

.grad-info {
  position: relative;
  top: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.grad-year {
  margin-left: 1rem;
  font-style: italic;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 2rem;
  min-height: 30rem;
  font-style: italic;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.carousel-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--wwg-green);
  cursor: pointer;
  padding: 0.5rem;
}

.carousel-indicator {
  display: flex;
  gap: 0.5rem;
}

.indicator-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--bcca-secondary-blue);
  opacity: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-dot.active {
  background: var(--bcca-primary-blue);
  opacity: 100%;
}