@import '../../styles/variables.css';

.registration-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bcca-secondary-blue);
  box-shadow: 0 0 10px var(--bcca-brown);
  border-radius: 8px;
}

.registration-forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.toggle-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
}

.toggle-btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--bcca-brown);
  background: var(--bcca-primary-blue);
  color: var(--plain-white);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background: var(--wwg-green);
  opacity: 0.8;
}

.toggle-btn.active {
  background: var(--wwg-green);
  color: var(--plain-white);
}

.login-form h2,
.register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--bcca-primary-blue);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--bcca-primary-blue);
}

.form-group input {
  color: var(--plain-black);
  width: 100%;
  padding: 0.75rem 0;
  border: 1px solid var(--plain-black);
  border-radius: 8px;
  font-size: 1rem;
  background: var(--wwg-light-biege);
  transition: all 0.3s ease;
}

.form-group input:focus {
  border-color: var(--wwg-green);
  outline: none;
}

.submit-btn {
  background: var(--wwg-green);
  color: var(--plain-white);
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--bcca-brown);
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  display: block;
  width: 100%;
  margin-top: 2rem;
  transition: opacity 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.8;
}

/* Error Message */
.error-message {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}
