@import '../../styles/variables.css';
  
body {
  margin: 0;
  background-color: var(--plain-white);
  color: var(--color-text);
  font-family: var(--font-body);
}

.landing-page {
  padding-bottom: 4rem;
}



