@import "../../styles/variables.css"; 

.user-profile {
  background-color: var(--plain-white);
  color: var(--bcca-primary-blue);
  font-family: var(--bcca-font);
  margin: 0 auto;
}

.user-info {
  background-color: var(--wwg-light-biege);
  color: var(--bcca-primary-blue);
  padding: 20px;
  border-radius: 8px;
}

.dashboard {
  background-color: var(--wwg-light-biege);
  color: var(--wwg-green);
  padding: 20px;
  border-radius: 8px;
}


/* .user-page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing);
}

.user-title {
  font-size: var(--heading-font-size);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: calc(var(--spacing) * 2);
}

.user-info {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: var(--spacing);
  border-radius: 8px;
  margin-bottom: var(--spacing);
}

.user-info p {
  font-size: var(--body-font-size);
  margin: 0.5em 0;
}

.user-actions {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: var(--body-font-size);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.edit-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.edit-btn:hover {
  background-color: #092b6a; 
}

.settings-btn {
  background-color: var(--secondary-color);
  color: #000;
}

.settings-btn:hover {
  background-color: #e6c02c; 
} */
