@import '../../styles/variables.css';

.cert-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  padding: 1rem;
}

.add-cert-form h3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-cert-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add-cert-form .left-column {
  width: 48%;
}

.add-cert-form .right-column {
  width: 48%;
}

.add-cert-form span {
  color: var(--wwg-green);
  display: block;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  margin-top: 0.5rem;
}

.add-cert-form input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--bcca-primary-blue);
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

.add-cert-form button {
  margin-top: 1rem;
  padding: 0.25rem;
  background-color: var(--bcca-primary-blue);
  color: var(--plain-white);
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-cert-form,
.submit-button {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.cert-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  height: 100%;
  min-height: 26rem;
  background-color: var(--plain-white);
  border-radius: 8px;
  box-shadow: 0 0 12px var(--bcca-secondary-blue);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.cert-card .cert-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--bcca-primary-blue);
}

.cert-card .cert-subtitle {
  font-size: 1rem;
  color: var(--bcca-primary-blue);
}

.cert-card .cert-date {
  font-size: 0.875rem;
  color: var(--wwg-dark-biege);
}

.cert-card .progress-wrapper {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8%;
}

.cert-card .progress-label {
  font-weight: bold;
}

.cert-card .progress-bar-bg {
  width: 100%;
  height: 6px;
  background-color: var(--wwg-light-biege);
  border-radius: 8%;  margin: 0.5rem 0;
}

.cert-card .progress-bar-fg {
  height: 100%;
  border-radius: 8%;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.cert-card .milestones {
  text-align: left;
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.cert-card .time-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
  margin-top: auto;
  color: var(--bcca-primary-blue);
}

.cert-card .card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.card-actions button {
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--bcca-primary-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.card-actions button:hover {
  background-color: var(--wwg-green);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .add-cert-form {
    flex-direction: column;
    align-items: center;
  }

  .add-cert-form .left-column,
  .add-cert-form .right-column {
    width: 100%;
  }

  .add-cert-form input {
    width: 100%;
  }
}