@import '../../styles/variables.css';

.navbar-container {
  background-color: var(--bcca-secondary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 10px var(--wwg-green);
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav-logo-container {
    display: flex;
    flex: 1;
    flex-shrink: 0;
}

.nav-logo {
    width: 192px;
    height: 140px;
    transform: scale(1.6);
    transform-origin: center;
}

.page-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    padding: 0;
    flex: 1;
}

.user-actions {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.page-links li,
.user-actions li {
    font-family: var(--font-heading);
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar a {
    color: var(--plain-white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--wwg-green);
}

/* .register-button, */
.login-button {
    background-color: var(--wwg-green);
    color: var(--plain-white);
    font-family: var(--font-heading);
    /* font-size: 1rem; */
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

/* .register-button:hover, */
.login-button:hover {
    opacity: 0.8;
}