.feat-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem; /* add horizontal padding */
}

.feat-carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.feat-carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 1rem;
}

/* Navigation Buttons */
.feat-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--wwg-green);
  color: #fff;
  border: none;
  padding: 0 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.feat-carousel-button.left {
  left: 0; /* displays outside of card box now */
}

.feat-carousel-button.right {
  right: 0; /* displays outside of card box now */
}

.feat-carousel-button:hover {
  background-color: var(--wwg-dark-green);
}
