.features-section {
  padding: 2rem 1rem;
  background-color: var(--bcca-primary-blue);
  text-align: center;
}

.features-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.feature-card {
  flex: 1 1 250px; 
  padding: 2rem 1rem;
  border-radius: 5%;
  box-shadow: 0 4px 20px var(--bcca-secondary-blue);
  background-color: var(--color-background);
}

.feature-card h4 {
  color: var(--wwg-green);
  margin-bottom: 1rem;
}

.feature-card p {
  color: var(--bcca-primary-blue);
  margin-bottom: 1rem;
  line-height: 1.6;
}
